.dialog {
  position: absolute;
  width: 68vw;
  height: 13.1vw;
  left: 27vw;
  top: 10vh;

  background: url('../../assets/dialogue.png');
  background-size: cover;
}
.dialog-text {
  /* Share your certificate and show your skill! */
  position: absolute;
  width: 60vw;
  height: 13.1vw;
  left: 5vw;
  top: 5.5vw;
  font-family: Secular One;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 3.7vw;
  color: #ffffff;
  background: '';
  background-size: cover;
}
.npc {
  position: absolute;
  width: 22vw;
  height: 22vw;
  left: 5vw;
  top: 0vh;

  background: url('../../assets/npc.png');
  background-size: cover;
}
.overlay {
  /* Rectangle 9939 */

  position: absolute;
  width: 53.802vw;
  height: 25.313vw;
  left: 23.125vw;
  top: 16.458vw;

  background: rgba(0, 0, 0, 0.5);
}
.text {
  color: #ff0000;
  position: absolute;
  left: 45.729vw;
  top: 13.021vw;
  font-size: 10.417vw;

  &.description {
    position: absolute;
    width: 36.927vw;
    height: 3.125vw;
    left: 32.552vw;
    top: 32.865vw;
    font-family: Secular One;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 3.646vw;
    color: #ffffff;
  }
}
