//Display breakpoints
$screen-xs: 768px;
$screen-sm: 998px;

$background-color: #545f79;
$primary-color: #fff;
$primary: #0080f9;
$primary-hover: #0069d9;

$success: #1ca650;
$success-hover: #218838;

$danger: #e03244;
$danger-hover: #c82333;

$info: #00a3b7;
$info-hover: #138496;