.app {
  position: absolute;
  left: 12.4%;
  right: 71.67%;
  top: 51.85%;
  bottom: 29.35%;
}
body {
  .btn {
    position: absolute;
    left: 12.4%;
    right: 71.67%;
    top: 51.85%;
    bottom: 29.35%;
    height: 10vw;
    width: 15vw;
    border-radius: 0px;
    transition: all 0.3s;

    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 2.2vw;
    line-height: 60px;
    display: flex;
    letter-spacing: -0.015em;

    align-items: center;
    text-align: center;
    color: #ffffff;

    text-shadow: $shadow;

    background: $btn-color1;
    background-blend-mode: soft-light, normal;
    border-radius: 24px;

    &:hover {
      background: $btn-color1-hover;
    }

    &.text {
      font-family: Poppins;
      font-style: normal;
      font-weight: 900;
      font-size: 2.2vw;
      line-height: 60px;
      display: flex;
      letter-spacing: -0.015em;

      align-items: center;
      text-align: center;
      color: #ffffff;
    }
  }
}
